<!doctype html>

<html ng-app="lowlaAngular">

	<head>
		<title>lowlaAngular</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<script src="/bower_components/angular/angular.min.js"></script>
		
		<script type="text/javascript" src="/bower_components/socket.io-client/socket.io.js"></script>
		<script type="text/javascript" src="/bower_components/lowladb/dist/lowladb.js"></script>

		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="factory.js"></script>

	</head>

	<body style="padding-top:20px" ng-controller="SessionsCtrl">

		<div class="container">

			<div class="well well-sm">
			<form ng-submit="saveNew()">

				Add one:
				<input ng-model="title" class="form-control" style="display: inline; width:200px" />
				<button class="btn btn-primary">Save</button>

			</form>
			</div>

			<table class="table table-striped"><tbody>

				<tr ng-repeat="session in sessions">

					<td style="width:50%">
						<span ng-hide="edited == session._id">{{session.title}}</span>
						<span ng-show="edited== session._id">
							<input ng-model="session.title" style="width:200px" />
							<button class="btn btn-default" ng-click="save(session)">Save</button>
						</span>
					</td>

					<td>
						<button class="btn btn-default" ng-click="doEdit(session)"
							ng-hide="edited == session._id">Edit</button>
						<button class="btn btn-warning" ng-click="remove(session)">Remove</button>
					</td>
				
				</tr>

			</tbody></table>

		</div>

	</body>
</html>